
.page-container {
	font-size: 16px;
	background-color: rgba(0,0,0,0.1);
	display: flex row;
	margin: 0px;
}
.content-frame{
	min-height:100%;
	background-color: white;
	max-width: 1000px;
	margin: auto;
	box-shadow: 12px 0 25px -15px rgba(31, 73, 125, 0.8), -12px 0 25px -15px rgba(31, 73, 125, 0.8);
	display: flex;
	flex-direction: column;

}