.skill-container {
    width: 95%;
    display: flex;
    align-items: center;
}

.skill-image {
    width: 8rem;
    height: 3.5rem;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    line-height: 1.4rem;
    font-family: Montserrat;
}

.skill-gauge {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    
}
.skill-bar:last-child {
    margin-right: -2rem;
}

.skill-bar:first-child {
    margin-left: -2rem;
    

}

.skill-bar {
    background-color: #7bbbbb;
    width: calc(100% / 5);
    height: 2rem;
    transform: skew(-20deg);
}

/* .skill-bar {
    background-color: #7bbbbb;
    width: calc(100% / 5.5);
    height: 2rem;
    transform: skew(20deg);
} */
